*{
  background-color: #ffffff;
}

nz-header,
nz-footer {
  color: #fff;
  text-align: center;
}

nz-footer {
  line-height: 1.5;
}

nz-header{
  min-height: 160px;
  line-height: 100px;
}
nz-content{
  margin-top: 40px;
  min-height: 120px;
}
#icons{
  margin-left: 5%;
  margin-top: 30px;
}
#Cross{
  width: 50px;
  height: 50px;
}
#Cross:hover{
  cursor: pointer;
}
#Check{
  width: 50px;
  height: 50px;
}
#Check:hover{
  cursor: pointer;
}
label{
  width: 156px;
  height: 44px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #000000;
}
:host {
  text-align: center;
}
#Logo{
  width: 313.5px;
  height: 122.3px;
  margin-top: 30px;
}
