<nz-layout>
      <nz-header><img src="../../assets/MatdaLogo.png" id="Logo"></nz-header>
      <nz-content>
        <label for="Process">¿Desea terminar la partida?</label>
        <br>
        <nz-space [nzSize] = "60" id="icons">
          <nz-space-item>
              <img src="../../assets/FrameCross.png" id="Cross">
          </nz-space-item>
          <nz-space-item>
              <img src="../../assets/Check.png" id="Check">
          </nz-space-item>
        </nz-space>


      </nz-content>
  </nz-layout>
