@import "../../variables";

nz-content {
  min-height: 488px;
}

.add{
  background-color: $background-suma;
}
.multiply{
  background-color: $background-multiply;
}
.mix{
  background-color: $background-mix;
}
.lib{
  background-color: $background-lib;
}
.reto{
  background-color: $background-dare;
}
.card{
  border-radius: 25px;
  height: 304.70001220703125px;
  width: 767.199951171875px;
  background: #FFFFFF;
  margin-left: 120px;
  margin-top: 3%;
}
label{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 70px;
  color: #FFFFFF;
}
#label{
  text-align: center;
}
#exercise, #reto{
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 70px;
  color: #000000;
  margin: 5px;
}
img{
  margin-left: 2.38%;
  margin-bottom: 10px;
}
#timer{
  color: #000000;
  font-size: 30px;
  margin-left: 10px;
}
nz-input-number{
  width: 100%;
  height: 60px;
  /* padding: 0 11px; */
  text-align: center;
  background-color: transparent;
  border-radius: 2px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}
#learn{
  left: 71.04%;
  right: 3.78%;
  top: 5%;
  bottom: 5.72%;
  width: 201.5px;
  height: 46px;
  background: #1D2D5A;
}
#overlay1, #overlay2 {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  text-align: center;
}
