<nz-layout>
  <nz-content
    [ngClass]="{
      add: selected == 'sumaresta',
      multiply: selected == 'multidivi',
      mix: selected == 'mix',
      lib: selected == 'lib',
      reto: selected == 'reto'
    }"
  >
  <div id="overlay1"><img src="assets/Group 3CorrectAnswer.png"></div>
  <div id="overlay2"><img src="assets/Group 4IncorrectAnswer.png"></div>
    <div id="label">
      <label for="Type" *ngIf="selected == 'sumaresta'">SUMA O RESTA</label>
      <label for="Type" *ngIf="selected == 'multidivi'"
        >MULTIPLICACIÓN O DIVISIÓN</label
      >
      <label for="Type" *ngIf="selected == 'mix'">MIXTA</label>
      <label for="Type" *ngIf="selected == 'lib'">LIBRE</label>
      <label for="Type" *ngIf="selected == 'reto'">RETO</label>
    </div>
    <div class="card">
      <img src="assets/GroupClock.png" />
      <label for="Time" id="timer">{{ this.timer.timeLeft }}</label>
      <br />
      <br />
      <div id="reto">{{dare}}</div>
      <div *ngIf="exercise != 'reto'" id="exercise">
        <nz-space [nzSize]="10" nzAlign="center">
          <nz-space-item *ngFor="let data of separated">
            <div #numberDiv *ngIf="data == '_'">
              <nz-input-number [nzStep]="1" (change) = "getResult($event)"></nz-input-number>
            </div>
            <div *ngIf="data != '_'">{{ data }}</div>
          </nz-space-item>
        </nz-space>
      </div>
      <br>
      <button nz-button nzType="primary" nzShape="round" id="learn">Aprende a resolver</button>
    </div>
  </nz-content>
</nz-layout>
