*{
  background-color: #ffffff;
}

nz-footer {
  line-height: 1.5;
}
nz-header{
  min-height: 50px;
  line-height: 50px;
}
nz-content {
  color: #fff;
  min-height: 120px;
}

nz-layout {
  margin-bottom: 48px;
}


#Logo{
  width: 313.5px;
  height: 122.3px;
  margin-bottom: 30px;
}
#Cross{
  width: 51.4px;
  height: 51.4px;
  margin-left: 731px;
  display: inline-block;
}
#Cross:hover{
  cursor: pointer;
}
label{
  width: 156px;
  height: 44px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54.56px;
  color: #000000;
}
:host {
  text-align: center;
}
#circles{
  width: 538.7px;
  height: 59.7px;
  margin-top: 40px;
}
