*{
  background-color: #ffffff;
}

nz-header{
  min-height: 50px;
  line-height: 50px;
}
nz-content {
  color: #fff;
  min-height: 120px;
}

#Logo{
  width: 260.5px;
  height: 100.1px;
  margin-bottom: 30px;
}
#question{
  width: 51.4px;
  height: 51.4px;
  margin-left: 731px;
  display: inline-block;
}
label{
width: 156px;
height: 44px;
font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 48px;
margin-right: 5%;
color: #000000;

}
button{
  background-color: #999999;
  border: 0px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  height: 50px;
  width: 150px;

/* identical to box height */

  text-align: center;

  color: #FFFFFF;
}
.clicked{
  background-color: #3ABEBC;
}
:host {
  text-align: center;
}
#add, #sustract{
  width: 100px;
}
#addSign, #sustractSign{
  background: transparent;
}
#time{
  margin-top: 20px;
}
#start{
  margin-top: 40px;
  width: 207px;
  height: 36px;
  background-color: #98C93D;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 140px;
}
