<!--<nz-layout>
    <nz-content>

      </nz-content>

</nz-layout>-->
<nz-layout>
  <nz-content>
    <nz-space [nzSize]="size" nzDirection = "vertical">
      <img src="assets/QuestionMark.png" id="question">
      <br>
      <nz-space-item>
      <img src="assets/MatdaLogo.png" id="Logo">
    </nz-space-item>
      <br>
      <nz-space-item>
      <button nz-button nzType="primary" nzShape="round" id="start" (click)="onStart(true)">INICIAR PARTIDA</button>
    </nz-space-item>
      <br>
      <nz-space-item>
      <button nz-button nzType="primary" nzShape="round" id="settings" (click)="onSettings()">AJUSTES</button>
    </nz-space-item>
    </nz-space>
  </nz-content>
</nz-layout>

